*,
 *::after,
 *::before{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 }

 .title{
 	font-size: 3rem;
 }

 .title--small{
 	font-size: 2.2rem;
 }

 .title,
 .title--small{
 	text-align: center;
 }

 .mb{
 	margin-bottom: 2rem;
 }

 .mt{
 	margin-top: 2rem;
 }

 .pad{
 	padding: .5rem;
 }

 body{
 	background-image: url('../img/background.jpg');
 	font-family: Helvetica, Arial;
 }

 .container{
 	max-width: 1300px;
 	min-height: 35vh;
 	margin: 5vw auto 0 auto;
 	background-color: rgba(255, 255, 255, 0.5);
 }

 .box__numbers{
 	display: grid;
 	grid-template-columns: repeat(4, 1fr);
 	justify-items: center;
 }

 .box__enter{
 	display: flex;
 	justify-content: center;
 }

 .box__input,
 .box__button{
 	margin: 0.5rem;
 }

 .box__number{
 	font-size: 2.2rem;
 	animation: slideIn 1s;
 }

 @keyframes slideIn{
 	0%{
 		transform: scale(1.618, 1.618);
 	}

 	100%{
 		transform: scale(1, 1);
 	}
 }